/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2017, 4:55:59 PM
    Author     : tom
*/

body {
    width: 100%;
    text-align: left;
}

form input, select {
    display: inline-block;
    width: 310px;
    line-height: 18px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
/* select and input width not synchronous */
form select {
    width: 296px;
    margin-left: 20px;
    float: left;
}
form label {
    float: left;
    line-height: 18px;
    padding-top: 6px;
    text-align: left;
    width: 140px;
}

.button {
    display: block;
    float: left;
    line-height: 50px;
    height: 50px;
    width: 250px;
    text-align: center;
    background-color: #808080;
    margin-bottom: 5px;
}

.button:hover {
    cursor: pointer;
    color: white;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#controls {
    width: 250px;
    padding: none;
    margin: none;
    float: left;
}

#content {
    width: calc(100% - 275px);
    float: left;
    margin-right: 5px;
    overflow: scroll;
    height: calc(100vh - 104px);
}

#email-request-form select {
    width: 250px  !important;
    margin: 0 105px;
}

#response {
    width: 460px;
    height: 200px;
    resize: none;
}

td {
    width:200px;
    word-break: break-all;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

thead tr {
    background-color: #808080 !important;
}

td select {
    margin-left: 0px;
}

tbody tr:hover {
    background-color: lightblue;
}

.yearsOfExperience {
    width: 80px;
}

.dateOfBirth {
    width: 100px;
}

.openTraining {
    width: 100px;
}

.foundTeam {
    width: 120px;
}

.remark {
    width: 400px;
}

#full-details-dialog {
    width: 550px;
}

#editForm {
    width: 520px;
}

#full-details-dialog form {
    margin: 0 auto;
}

#full-details-dialog .line {
    width: 500px;
    overflow: hidden;
}

#full-details-dialog form label {
    width: 160px;
    float: left;
}

#full-details-dialog .input {
    width: 330px;
    margin-left: 170px;
}

#full-details-dialog form input, select {
    margin-left: 0px !important;
    display: inline-block;
    width: 310px;
    line-height: 18px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
/* select and input widthh not synchronous */
#full-details-dialog form select {
    width: 296px;
}

#formRemark {
    resize: none;
    width: 490px;
    height: 100px;
    margin: 0 auto;
}