/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2017, 3:39:18 PM
    Author     : tom
*/

.line {
    margin: 0 auto;
    width: 450px;
    margin-bottom: 10px;
}

form {
    width: 500px; 
    margin: 0 auto; 
    text-align: center;
}

label {
    width: 150px;
    float: left;
    text-align: right;
}

.input {
    margin-left: 160px;
}

input {
    width: 240px;
}

img {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    
}

body {
    width: 100%;
    text-align: center;
}
