* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, input[type="text"], input[type="number"], input[type="submit"], input[type="email"], input[type="date"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.invalid {
    border: 3px solid red !important;
}

img {
    margin-bottom: 15px;
}

#language-button {
    width: 200px;
}

#submit-button {
    margin-top: 15px;
}

.line {
    text-align: center;
    width: 400px;
    margin-bottom: 5px;
}

.line > span {
    display: inline-block;
}

.line > .btn-group {
    width: 215px !important;
}

.line > label {
    text-align: left;
    display: inline-block;
    width: 180px;
}

.line > select {
    text-align: left;
    display: inline-block;
    width: 215px;
}

.line > span {
    width: 215px !important;
}

.line > input {
    display: inline-block;
    width: 215px;
}

.line > textarea {	
    display: inline-block;
    width: 400px;
    height: 100px;
    resize: none;
}

.input-column {
    width: 107px;
    display: inline-block;
    vertical-align: top;
}

#dqsform {
    display: inline-block;
    margin-bottom: 15px;
}

#container {
    text-align: center;
    display: inline-block;
    background-color: white;
}

#form-container {
    display: block;
}

#dqs-logo {
    width: 180px;
}

.clear-fix {
    clear: both;
}

body {
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 410px) {
    .line {
        width: 300px;
    }
    .line > .btn-group {
        width: 300px !important;
    }
    .line > label {
        width: 300px;
    }
    .line > input {
        width: 300px;
    }
    .line > select {
        width: 300px;
    }
    .line > span {
        width: 300px !important;
    }
    .line > textarea {
        width: 300px;
    }
}

@media (min-width: 445px) {
    #container {   
        padding: 15px;
        border-radius: 5px;
    }
    body {    
        background-color: lightgrey;
    }
}

