.description {
  text-align: center;
}

img {
  margin-top: 30px;
  max-width: 80%;
}

.row {
  margin-bottom: 0 !important;
}

input:not([type]), input[type=text], input[type=number], input[type=email], input[type=tel], textarea.materialize-textarea {
  margin-bottom: 5px !important;
}

.btn {
    margin-top: 15px;
  margin-bottom: 15px;
}
